
section{
    display: flex;
}

aside{
    background-color: rgb(10, 10, 10);
    padding: 30px;
    font-family: sans-serif;
    width: 70%;
    height: 750px;
}
article{
    background-color: rgb(103, 100, 100);
    color: white;
    width: 30%;
    line-height: 7;
    padding: 10px;
    font-family: sans-serif;
}
p{
    display: none;
    color: white;
    font-family: sans-serif;
}